<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/plugin/layui/css/layui.css}" media="all">
</head>
<body>
<div class="searchTable">
    用户名：
    <div class="layui-inline">
        <input class="layui-input" name="s_username" id="s_username" autocomplete="off">
    </div>
    <button id="searchBtn" class="layui-btn" data-type="reload">搜索</button>
</div>

<table class="layui-hide" id="SysUser" lay-filter="SysUser"></table>

<input type="text" id="ctx" hidden="hidden" th:value="${#request.getContextPath()}">

<!--编辑表单-->
<div class="layui-row" id="editForm" style="display:none;">
    <div class="layui-col-md10">
        <form class="layui-form layui-from-pane" action="" style="margin-top:20px">
            <input type="text" id="id" name="id" hidden="hidden">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">所属部门</label>
                    <div class="layui-input-line" style="float: left;">
                        <input type="text" id="deptName" name="deptName" required lay-verify="required" autocomplete="off"
                               class="layui-input" disabled="disabled">
                    </div>
                        <button class="layui-btn layui-btn-sm" id="chooseDept" type="button" style="float: left;margin-left: 1.5em;">
                            <i class="layui-icon">&#xe615;</i>
                        </button>

                    <input type="hidden" id="deptId" name="deptId"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" id="username" name="username" required lay-verify="required" autocomplete="off"
                           placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" id="password" name="password" required lay-verify="required"
                           autocomplete="off"
                           placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" id="truename" name="truename" required lay-verify="required" autocomplete="off"
                           placeholder="" class="layui-input">
                </div>
            </div>
            <!--<div class="layui-form-item">
                <label class="layui-form-label">角色</label>
                <div class="layui-input-block">
                    <select id="roleId" name="roleId" lay-verify="required">
                        <option value=""></option>
                    </select>
                    <div class="layui-unselect layui-form-select">
                        <div class="layui-select-title">
                            <input type="text" placeholder="请选择" value="" readonly=""
                                   class="layui-input layui-unselect">
                            <i class="layui-edge"></i>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="layui-form-item" style="margin-top:40px">
                <div class="layui-input-block">
                    <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="confirm">确认</button>
                    <button type="button" class="layui-btn layui-btn-primary" id="back">关闭</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/html" id="userToolBar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add" shiro:hasPermission="user:add">新增</button>
        <button class="layui-btn layui-btn-sm" lay-event="addRole" shiro:hasPermission="user:addRole">分配角色</button>
    </div>
</script>

<script type="text/html" id="tbBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="user:edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="remove" shiro:hasPermission="user:remove">删除</a>
</script>

<script th:src="@{/static/js/jquery.min.js}" charset="utf-8"></script>
<script th:src="@{/static/plugin/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/app.js}" charset="utf-8"></script>

<script>
    layui.use(['jquery', 'table'], function () {
        var table = layui.table;
        var form = layui.form;

        table.render({
            elem: '#SysUser'
            , url: ctx+'/sysUser/list'
            , method: 'post'
            , toolbar: '#userToolBar' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: 'SysUser'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: 'ID', align: 'center', width: 80}
                    , {field: 'username', title: '用户名', align: 'center'}
                    , {field: 'truename', title: '姓名', align: 'center'}
                    , {field: 'deptName', title: '所属部门', align: 'center', width: 180}
                    , {field: 'createUser', title: '创建人', align: 'center'}
                    , {
                    field: 'createTime', title: '创建时间', width: 180,
                    templet: '<div>{{ layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss") }}</div>'
                }
                    , {field: 'updateUser', title: '更新人', align: 'center'}
                    , {
                    field: 'updateTime', title: '更新时间', width: 180,
                    templet: '<div>{{ layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss") }}</div>'
                }
                    , {fixed: 'right', title: '操作', toolbar: '#tbBar', width: 120}
                ]
            ]
            , page: true
            , request: {
                pageName: 'pageNo' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": 0, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.records //解析数据列表
                };
            }

        });

        var $ = layui.$, active = {
            reload: function () {
                var queryWhere = {};

                var userName$_ = $('#s_username');
                if (userName$_.val() != '') {
                    queryWhere['username'] = userName$_.val();
                }
                //执行重载
                table.reload('SysUser', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: queryWhere
                    , done: function (res, curr, count) {
                        this.where = {};
                    }
                }, 'data');
            }
        };

        $('.searchTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('submit(confirm)', function (massage) {
            $.ajax({
                url: ctx+'/sysUser/save',
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(massage.field),
                success: function (data) {
                    if(data.success){
                        layer.closeAll();//关闭所有的弹出层
                        table.reload('SysUser');
                    }else{
                        layer.msg(data.message);
                    }
                }
            });

            return false;
        });

        //头工具栏事件
        table.on('toolbar(SysUser)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                //自定义头工具栏右侧图标 - 提示
                case 'add':
                    //iframe层-父子操作
                {
                    var updateIndex = layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type: 1,
                        title: "新增",
                        area: ['500px', '500px'],
                        content: $("#editForm")//引用的弹出层的页面层的方式加载修改界面表单
                    });
                    setFormValue(null, null);
                }
                    break;
                case 'addRole':
                {
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else if(data.length > 1){
                        layer.msg('只能同时编辑一个');
                    } else {
                        layer.open({
                            //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                            type: 2,
                            title: "选择角色",
                            area: ['300px', '550px'],
                            content: ['selectRole/'+checkStatus.data[0].id]//引用的弹出层的页面层的方式加载修改界面表单
                        });
                    }
                }
                    break;
            }
            ;
        });

        //监听弹出框表单提交，massage是修改界面的表单数据'submit(confirm),是修改按钮的绑定

        //监听行工具事件
        table.on('tool(SysUser)', function (obj) {
            var data = obj.data;
            // console.log(obj)
            if (obj.event === 'remove') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        type: "POST",
                        url: ctx+"/sysUser/remove",
                        traditional: true,
                        data: {
                            id: data.id
                        },
                        success: function (data) {
                            layer.close(index);
                            var queryWhere = {};

                            //执行重载
                            table.reload('SysUser', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                                , where: queryWhere
                                , done: function (res, curr, count) {
                                    this.where = {};
                                }
                            }, 'data');
                        },
                        error: function (e) {
                            console.log("ERROR: ", e);
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                //iframe层-父子操作
                var updateIndex = layer.open({
                    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    type: 1,
                    title: "修改",
                    area: ['500px', '500px'],
                    content: $("#editForm")//引用的弹出层的页面层的方式加载修改界面表单

                });
                setFormValue(obj, data);
            }
        });

        // 填充form
        function setFormValue(obj, data) {
            var target = $("#roleId");
            $.ajax({
                type: "GET",
                url: ctx+'/sysRole/listAll',
                success: function (list) {
                    target.find("option").remove();
                    target.append(new Option());
                    $.each(list, function (index, item) {
                        target.append(new Option(item.roleName, item.id));
                    });

                    layui.form.render("select");
                }
            });
            if (data != null) {
                $("#id").val(data.id);
                $("#username").val(data.username);
                $("#password").val(data.password);
                $("#deptId").val(data.deptId);
                $("#deptName").val(data.deptName);
                $("#phone").val(data.phone);
                $("#email").val(data.email);
                $("#truename").val(data.truename);
            } else {
                $("#id").val('');
                $("#username").val('');
                $("#password").val('');
                $("#deptId").val('');
                $("#deptName").val('');
                $("#phone").val('');
                $("#email").val('');
                $("#truename").val('');
            }
            layui.form.render("select");
        }

        $("#back").on('click', function () {
            layer.closeAll();
        });

        // 打开选择用户树页面
        $('#chooseDept').on('click', function () {
            layer.open({
                //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                type: 2,
                title: "选择部门",
                area: ['300px', '550px'],
                content: 'toSelectDept'//引用的弹出层的页面层的方式加载修改界面表单
            });
        })
    });
</script>

</body>
</html>